.user_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 5px;
  background-color: #3b7075;
  width: 35vw;
  height: 30vh;
}

.user_input_element {
  margin-bottom: 3vh;
  padding-left: 0.5vw;
  width: 25vw;
  height: 2rem;
  border: 2px solid lightgrey;
  border-radius: 4px;
}

.paragraph_element {
  margin-bottom: 0.8rem;
  text-align: left;
}

.button_element {
  width: 25.5vw;
  height: 2rem;
  background-color: #3597a0;
  color: white;
  border: 1px solid #3597a0;
  border-radius: 4px;
}

.button_element:hover {
  cursor: pointer;
  background-color: #22bcca;
}

@media (max-width: 768px) {
  .user_form {
    width: 90vw;
  }
  .user_input_element {
    width: 75vw;
  }
}
