.listContainer {
  margin-top: 1rem;
  max-height: 40vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.listItem {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: fit-content;
  max-width: 100%;
  background-color: #3b7075;
  color: #fff;
  border-top: 1px solid #fff !important;
  border-bottom: 1px solid #fff;
}

@media (max-width: 480px) {
  .listItem {
    width: 385px;
  }
  .clearCompletedButton {
    width: 385px;
  }
}

.mainContainer {
  width: 39.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
